deploymentMode: SimpleScalable

global:
  priorityClassName: system-cluster-critical

loki:
  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4

  # https://github.com/grafana/loki/issues/5123#issuecomment-1167018445
  frontend:
    max_outstanding_per_tenant: 10000
  query_range:
    parallelise_shardable_queries: true
  limits_config:
    split_queries_by_interval: 15m
    max_query_parallelism: 32

  # https://github.com/grafana/loki/issues/12138#issuecomment-2260590965
  auth_enabled: false
  commonConfig:
    ring:
      kvstore:
        store: memberlist

backend:
  replicas: 1
  persistence:
    size: 10Gi
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 512Mi

write:
  replicas: 1
  persistence:
    size: 10Gi
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 512Mi

read:
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      memory: 512Mi

# Disable cache
memcachedExporter:
  enabled: false
resultsCache:
  enabled: false
chunksCache:
  enabled: false

monitoring:
  serviceMonitor:
    enabled: true
    labels:
      release: prometheus-stack
  lokiCanary:
    # Schedule on all nodes with high priority
    priorityClassName: system-node-critical
    tolerations:
      - operator: Exists
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi

# Enable minio for storage
minio:
  enabled: true
  persistence:
      size: 10Gi

# Zero out replica counts of other deployment modes
singleBinary:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
