apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: adh-alert-vuln
  name: adh-alert-vuln
spec:
  replicas: 0
  selector:
    matchLabels:
      app: adh-alert-vuln
  strategy:
   type: Recreate
  template:
    metadata:
      labels:
        app: adh-alert-vuln
    spec:
      containers:
        - name: adh-alert-vuln
          image: adiffhunting/alert-vuln:f0c9ece
          env:
            - name: DEBUG
              value: "true"
            - name: DGRAPH_ALPHA_HOST
              value: "dgraph-alpha"
            - name: DGRAPH_ALPHA_HTTP_PORT
              value: "8080"
            - name: TELEGRAM_API_KEY
              valueFrom:
                secretKeyRef:
                  name: adh-alert-vuln
                  key: telegram-api-key
            - name: TELEGRAM_CHAT_ID
              valueFrom:
                secretKeyRef:
                  name: adh-alert-vuln
                  key: telegram-chat-id
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              memory: 32Mi
